*{
    margin:0; 
    padding:0;
    box-sizing: border-box;
    text-align: center;
}
.star-rating {
  display: inline-block;
  margin-right: 5px;
  margin-top: 5%;
  
}
.star-rating button {
  color: red;
  font-size: 6em;
    text-decoration: none;
      border: none;
    outline: none;
    background-color: white;
}
.star-rating button:hover {
  color: #ff0;
  cursor: pointer;
}

.sum{
  margin-right: 5px;
  margin-top: 5%;
  font-size: 6em;
}
/* .my-element {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background-color: #000;
  border-radius: 50%;
  cursor: pointer;
}
.my-element:hover {
  background-color: #ff0;
}
.my-element:active {
  background-color: #0ff;
} */